In [1]:
import requests
import pandas as pd
from datetime import date, timedelta

In [2]:
# Parâmetros
symbol = 'ACN'
start_date = '2018-01-01'

In [3]:

end_date = (date.today() - timedelta(days=2)).isoformat()
print(end_date)

2025-07-20

In [4]:
# Monta a URL
url = f"http://127.0.0.1:5000/api/data?symbol={symbol}&dtstart={start_date}&dtend={end_date}"

# Faz a requisição
response = requests.get(url)

# Converte para DataFrame
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    print(df.head())
else:
    print("Erro ao requisitar os dados:", response.status_code)

        Close                           Date        High         Low  \
0  137.391556  Tue, 02 Jan 2018 00:00:00 GMT  137.623766  136.444892
1  138.025620  Wed, 03 Jan 2018 00:00:00 GMT  138.418577  136.632416
2  139.659973  Thu, 04 Jan 2018 00:00:00 GMT  140.088648  138.222113
3  140.812042  Fri, 05 Jan 2018 00:00:00 GMT  140.856699  139.436704
4  141.937332  Mon, 08 Jan 2018 00:00:00 GMT  142.008780  140.070796

         Open Ticker   Volume
0  137.087912    ACN  3061900
1  136.632416    ACN  2064200
2  138.427517    ACN  1777000
3  139.865379    ACN  1597600
4  140.544128    ACN  2616900

### Armazenando os dados para usar no modelo

In [5]:
import os
print(os.getcwd())

d:\0Viviana\1 FIAP\4 fase\challenge4\techfase4\techfase4\data

In [6]:
df.to_pickle("dados.pkl")